h1 { 
	color: purple; 
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.tableau {
	margin-top:2%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}