<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">


<link rel="stylesheet"
	href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet"
	href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport"
	content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0" />

<meta name="description" content="The Dap trainning project admin" />

<meta property="og:type" content="website" />
<meta property="og:site_name" content="Data Access Project" />

<link rel="stylesheet" type="text/css" th:href="@{/css/dap.css}" />

<title>evenement </title>

</head>
<body>
	<h1>welcome to you !</h1>
	<!-- <div><span th:text="#{email.nb}">You have&nbsp;:</span><span th:text="${nbEmails}"></span></div>  -->

	
	<!-- <a th:href="${UrlConnection}">Connection</a> -->
	<label th:if="${unread}" th:text="${unread}"></label>
	
</body>

</html>