<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport"
	content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0" />
<title th:text="#{credentials.title}">Credentials list</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/dap.css}"/>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/index">DAP</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" th:href="@{'/microsoft/mail?userKey=' + ${userKey}}">Mails</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{'/microsoft/contacts?userKey=' + ${userKey}}">Contacts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{'/microsoft/nextEvent?userKey=' + ${userKey}}">Events</a>
      </li>  
      <li class="nav-item">
        <a class="nav-link" th:href="@{'/admin?userKey=' + ${userKey}">Admin</a>
      </li>   
    </ul>
  </div>
</nav>
</head>
<body>
	<h1>Admin</h1>
	<table>
		<thead>
			<tr>
				<th class="col-md-2"><h5>Nom d'utilisateur</h5></th>
				<th class="col-md-2"><h5>Type</h5></th>	
				<th class="col-md-2"><h5>Tenant Id</h5></th>	
				<th class="col-md-6"><h5>Access Token</h5></th>	
			</tr>
		</thead>
		<tbody>
			<div class="row" th:each="credential : ${credentials}">
				<tr #credential.isEmpty()>
					<td class="col-md-2" th:text="${credential.name}"></td>
					<td class="col-md-2" th:text="${credential.type}"></td>
					<td class="col-md-2" th:text="${credential.tenantId}"></td>
					<td class="col-md-6 accessToken" th:text="${credential.accessToken}"></td>
				</tr>
			</div>
		</tbody>
	</table>
	
</body>
</html>