<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport"
	content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0" />


<link rel="stylesheet" type="text/css" th:href="@{/css/dap.css}"/>

<title th:text="#{credentials.title}">Credentials list</title>

</head>
<body>
	<table>
		<tr>
			<td><h1>key</h1></td>
			<td><h1>value</h1></td>	
		</tr>
		<div th:each="credential : ${credentials}">
			<tr #credential.isEmpty()>
				<td th:text="${credential.key}"></td>
				<td th:text="${credential.value}"></td>
			</tr>
		</div>
	</table>
	
</body>
</html>