<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport"
	content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0" />
 <link rel="stylesheet" type="text/css" th:href="@{/css/dap.css}"/>
</head>
<body>
 <th:if test="${error ne null}">
  <span th:text="${error}"></span>
</th:if>

<table class="table">
  <caption>Calendar</caption>
  <thead>
    <tr>
      <th>Organizer</th>
      <th>Subject</th>
      <th>Start</th>
      <th>End</th>
    </tr>
  </thead>
  <tbody>
    <div th:each="event : ${events}">
      <tr>
        <td th:text="${event.organizer.emailAddress.name}"></td>
        <td th:text="${event.subject}"></td>
        <td th:text="${event.start.dateTime}"></td>
        <td th:text="${event.end.dateTime}"></td>
      </tr>
    </div>
  </tbody>
</table>

 </body>
</html>