<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport"
	content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/index">DAP</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" th:href="@{'/microsoft/mail?userKey=' + ${userKey}}">Mails</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{'/microsoft/contacts?userKey=' + ${userKey}}">Contacts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{'/microsoft/nextEvent?userKey=' + ${userKey}}">Events</a>
      </li>  
      <li class="nav-item">
        <a class="nav-link" th:href="@{'/admin?userKey=' + ${userKey}">Admin</a>
      </li>   
    </ul>
  </div>
</nav>
</head>
<body>
 <th:if test="${error ne null}">
  <span th:text="${error}"></span>
</th:if>
 <div>
<p> AuthCode :  </p> <span th:text="${authCode}"></span>
<p> IdToken :  </p> <span th:text="${idToken}"></span>
<p> AccessToken :  </p> <span th:text="${accessToken}"></span>
</div>

<h1 th:text="${userKey}"></h1>

<div th:each="account : ${response}">
	<h2 th:text="${account.name}"></h2>
	<table class="table">
	  <thead>
	    <tr>
	      <th><span class="glyphicon glyphicon-envelope"></span></th>
	      <th>From</th>
	      <th>Subject</th>
	      <th>Received</th>
	      <th>Preview</th>
	    </tr>
	  </thead>
	  <tbody>
		<div th:each="message : ${account.mails}" style="margin-bottom: 10px;">
	      <tr th:classappend="${message.isRead == true ? '' : 'info'}">
	        <td>
	        	<span th:if="${message.isRead == false}" class="glyphicon glyphicon-envelope"></span>
	        </td>
	        <td th:text="${message.from.emailAddress.name}"></td>
	        <td th:text="${message.subject}"></td>
	        <td th:text="${message.receivedDateTime}"></td>
	        <td th:text="${message.bodyPreview}"></td>
	      </tr>
	    </div>
	  </tbody>
	</table>
 </div>

 </body>
</html>