<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport"
	content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0" />
 <link rel="stylesheet" type="text/css" th:href="@{/css/dap.css}"/>
</head>
<body>
 <th:if test="${error ne null}">
  <span th:text="${error}"></span>
</th:if>

<table class="table">
  <caption>Contacts</caption>
  <thead>
    <tr>
      <th>Name</th>
      <th>Surname</th>
      <th>Company</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <div th:each="contact : ${contacts}">
      <tr>
        <td th:text="${contact.givenName}"></td>
        <td th:text="${contact.surname}"></td>
        <td th:text="${contact.companyName}"></td>
        <td>
          <ul class="list-inline">
            <div th:each="address : ${contact.emailAddresses}">
              <li th:text="${address.address}"></li>
            </div>
          </ul>
        </td>
      </tr>
    </div>
  </tbody>
</table>

 </body>
</html>