<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport"
	content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0" />
 <link rel="stylesheet" type="text/css" th:href="@{/css/dap.css}"/>
</head>
<body>
 <th:if test="${error ne null}">
  <span th:text="${error}"></span>
</th:if>
 <div>
<p> AuthCode :  </p> <span th:text="${authCode}"></span>
<p> IdToken :  </p> <span th:text="${idToken}"></span>
<p> AccessToken :  </p> <span th:text="${accessToken}"></span>
</div>

<table class="table">
  <caption>Inbox</caption>
  <thead>
    <tr>
      <th><span class="glyphicon glyphicon-envelope"></span></th>
      <th>From</th>
      <th>Subject</th>
      <th>Received</th>
      <th>Preview</th>
    </tr>
  </thead>
  <tbody>
    <!-- <c:forEach items="${messages}" var="message">
	      <tr class="${message.isRead == true ? '' : 'info'}">
	        <td>
	          <c:if test="${message.isRead == false}">
	            <span class="glyphicon glyphicon-envelope"></span>
	          </c:if>
	        </td>
	        <td><c:out value="${message.from.emailAddress.name}" /></td>
	        <td><c:out value="${message.subject}" /></td>
	        <td><c:out value="${message.receivedDateTime}" /></td>
	        <td><c:out value="${message.bodyPreview}" /></td>
	      </tr>
	    </c:forEach>
     -->
	<div th:each="message : ${messages}" style="margin-bottom: 10px;">
      <tr th:classappend="${message.isRead == true ? '' : 'info'}">
        <td>
        	<span th:if="${message.isRead == false}" class="glyphicon glyphicon-envelope"></span>
        </td>
        <td th:text="${message.from.emailAddress.name}"></td>
        <td th:text="${message.subject}"></td>
        <td th:text="${message.receivedDateTime}"></td>
        <td th:text="${message.bodyPreview}"></td>
      </tr>
    </div>
  </tbody>
</table>

 </body>
</html>