<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport"
			content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0" />
		<meta name="description" content="The Dap trainning project admin" />
		<meta property="og:type" content="website" />
		<meta property="og:site_name" content="Data Access Project" />
		<link rel="stylesheet" type="text/css" th:href="@{/css/dap.css}"/>
		<title th:text="#{admin.title}">Data Access Project Admin</title>
	</head>
	<body>
		<h1 th:text="#{admin.users.list.title}">Users list</h1>
		<div th:unless="${#lists.isEmpty(credentials)}">
			<p th:text="#{admin.users.list.number_users(${credentials.size()})}"></p>
			<table>
		    	<thead>
		      		<tr>
		      			<th th:text="#{admin.users.list.user_id}">User Id</th>
		        		<th th:text="#{admin.users.list.token}">Token</th>
		        		<th th:text="#{admin.users.list.refresh_token}">Refresh token</th>
		        		<th th:text="#{admin.users.list.expiration_time}">Expiration Time (in milliseconds)</th>
		      		</tr>
		    	</thead>
		    	<tbody>
			      	<tr th:each="credential : ${credentials}">
			        	<td th:text="${{credential.userId}}">XXX</td>
			        	<td th:text="${{credential.token}}">XXX</td>
			        	<td th:text="${{credential.refreshToken}}">XXX</td>
			        	<td th:text="${{credential.expirationTime}}">XXX</td>
			      	</tr>
		    	</tbody>
		  	</table>
		</div>
	  	<p th:unless="${not #lists.isEmpty(credentials)}">Empty list!</p>
	</body>
</html>
