<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport"
	content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0" />
<link rel="stylesheet" type="text/css" th:href="@{/css/dap.css}" />
</head>
<body>
	<th:if test="${error ne null}">
		<span th:text="${error}"></span>
	</th:if>
	<div th:each="accountContacts : ${accounts}">
		<table class="table">
			<caption th:text="#{contacts.title}"></caption>
			<thead>
				<tr>
					<th th:text="#{contacts.name}"></th>
					<th th:text="#{contacts.surname}"></th>
					<th th:text="#{contacts.company}"></th>
					<th th:text="#{contacts.email}"></th>
				</tr>
			</thead>
			<tbody>
			<!-- TODO bap by Djer |Thymleaf| Pas autorisé les "div" dans les "tbody". Avec tymeleaf tu peux mettre ton "th:each" directement sur le "tr" -->
				<div th:each="contact: ${accountContacts}">
					<tr>
						<td th:text="${contact.givenName}"></td>
						<td th:text="${contact.surname}"></td>
						<td th:text="${contact.companyName}"></td>
						<td>
							<ul class="list-inline">
							<!-- TODO bap by Djer |Thymleaf| Pas autorisé les "div" dans les "ul". Avec tymeleaf tu peux mettre ton "th:each" directement sur le "li" -->
								<div th:each="address : ${contact.emailAddresses}">
									<li th:text="${address.address}"></li>
								</div>
							</ul>
						</td>
					</tr>
				</div>
			</tbody>
		</table>
	</div>
</body>
</html>