<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport"
	content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0" />

<meta name="description" content="The Dap trainning project admin" />

<meta property="og:type" content="website" />
<meta property="og:site_name" content="Data Access Project" />

<link rel="stylesheet" type="text/css" th:href="@{/css/dap.css}"/>

<title th:text="#{admin.title}">Data Access Project Admin</title>

</head>
<body>
<h1> welcome to credential</h1>
<table if="${!credentials.isEmpty()}">
<tr>
  <td>Account Type</td>
  <td>UserName</td>
  <td>Access Token</td>
  <td>Expiration Time</td>
  <td>Refresh Token</td>
  <td>Tenant ID</td>
</tr>
 <tr th:each="credential : ${credentials}">
 	 <td>Google</td>
     <td th:text="${credential.key}">1</td>
     <td th:text="${credential.value.getAccessToken()}">2</td>
     <td th:text="${credential.value.getExpirationTimeMilliseconds()}">3</td>
     <td th:text="${credential.value.getRefreshToken()}">4</td>
  </tr>
  <tr th:each="otAccount : ${otAccounts}">
     <td>Microsoft</td>
 	 <td th:text="${otAccount.getName()}">1</td>
     <td th:text="${otAccount.getIdToken().getAccessToken()}">2</td>
     <td th:text="${otAccount.getIdToken().getExpiresIn()}">3</td>
     <td th:text="${otAccount.getIdToken().getRefreshToken()}">4</td>  
     <td th:text="${otAccount.getIdToken().getTenantID()}">4</td>
     <td><a th:href="'/outlookMails?userKey='+${otAccount.getOwnerName()}">Mails</a></td>
          
        
  <tr>
</table>
</body>
</html>