
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport"
	content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0" />
<link rel="stylesheet" type="text/css" th:href="@{/css/dap.css}" />
</head>
<body>
	<th:if test="${error ne null}">
		<span th:text="${error}"></span>
	</th:if>
<div th:each="pagedResult : ${messages}">
<!-- TODO dur by Djer |Thymleaf| Tu voulais écrire "th:if" ? -->
	<table if="${!messages}">
	<tr>
	  <td th:text="#{email.datereceived}"></td>
	  <td th:text="#{email.from}"></td>
	  <td th:text="#{email.subject}"></td>
	  <td th:text="#{email.body}"></td>
	</tr>
	 <tr th:each="message : ${pagedResult.value}">
	     <td th:text="${message.receivedDateTime}"></td>
	     <td th:text="${message.from.emailAddress.address}"></td>
	
	     <td th:text="${message.subject}"></td>
	
	     <td th:text="${message.bodyPreview}"></td>
	     
	  </tr>
	</table>
</div>
</body>
</html>