<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport"
	content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0" />

<meta name="description" content="The Dap trainning project admin" />

<meta property="og:type" content="website" />
<meta property="og:site_name" content="Data Access Project" />

<link rel="stylesheet" type="text/css" th:href="@{/css/dap.css}" />

<title th:text="#{admin.title}">Data Access Project Admin</title>



</head>
<body>
	<div th:replace="~{fragments/header :: header}"></div>

	<div th:if="${error}" class="alert alert-danger">
	Error: <span th:text="${error}"></span>
	</div>


	<table class="table">
		<caption>Calendar</caption>
		<thead>
			<tr>
				<th>Organizer</th>
				<th>Subject</th>
				<th>Start</th>
				<th>End</th>
			</tr>
		</thead>
		<tbody>
			<th:block th:each="event : ${events}">
				<tr>
					<td th:text="${event.organizer.emailAddress.name}"></td>
					<td th:text="${event.subject}"></td>
					<td th:text="${event.start.dateTime}"></td>
					<td th:text="${event.end.dateTime}"></td>
				</tr>
			</th:block>
		</tbody>
	</table>
	<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>