<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport"
	content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0" />

<meta name="description" content="The Dap trainning project admin" />

<meta property="og:type" content="website" />
<meta property="og:site_name" content="Data Access Project" />

<link rel="stylesheet" type="text/css" th:href="@{/css/dap.css}"/>

<title>Data Access Project Admin</title> <!-- TODO zal by Djer |Thymleaf| Internationnalisation ? -->

<!-- TODO zal by Djer |Thymleaf| Pas de menu dans cette page ? -->
</head>
<table class="table">
  <caption>Calendar</caption> <!-- TODO zal by Djer |Thymleaf| Internationnalisation ? -->
  <thead>
    <tr>
      <th>Organizer</th> <!-- TODO zal by Djer |Thymleaf| Internationnalisation ? -->
      <th>Subject</th> <!-- TODO zal by Djer |Thymleaf| Internationnalisation ? -->
      <th>Start</th> <!-- TODO zal by Djer |Thymleaf| Internationnalisation ? -->
      <th>End</th> <!-- TODO zal by Djer |Thymleaf| Internationnalisation ? -->
    </tr>
  </thead>
  <tbody>
      <tr th:each="event: ${events}">
        <td th:text="${event.organizer.emailAddress.name}" /></td>
        <td th:text="${event.subject}" /></td>
        <td th:text="${event.start.dateTime}" /></td>
        <td th:text="${event.end.dateTime}" /></td>
      </tr>
  </tbody>
</table>
</body>
</html>