<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div class="container" th:fragment="header">

    <!-- Static navbar -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span> <!-- TODO mbf by Djer |Thymleaf| Internationalisation ? -->
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Dap</a> <!-- TODO mbf by Djer |Thymleaf| Internationalisation ? -->
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/mails">Mails</a></li> <!-- TODO mbf by Djer |Thymleaf| Internationalisation ? -->
                    <li><a href="/events">Events</a></li> <!-- TODO mbf by Djer |Thymleaf| Internationalisation ? -->
                    <li><a href="/contacts">Contacts</a></li> <!-- TODO mbf by Djer |Thymleaf| Internationalisation ? -->
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a th:href="${loginUrl}">Login</a></li> <!-- TODO mbf by Djer |Thymleaf| Internationalisation ? -->
                    <li><a href="/logout">Logout</a></li> <!-- TODO mbf by Djer |Thymleaf| Internationalisation ? -->
                </ul>
            </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
    </nav>

</div> <!-- /container -->
</body>
</html>