<!-- TODO bog by Djer |Thymleaf| Ressemble beaucoup à "event.html", doublons à supprimer ?  -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport"
	content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0" />

<meta name="description" content="The Dap trainning project admin" />

<link rel="stylesheet" type="text/css" th:href="@{/css/dap.css}" />

<title th:text="#{admin.title}">Microsoft</title>

</head>
<body>

	<p th:text="#{nextEventAllAccountMicrosoft}"></p>

	<table class="tableau">
		<tr>
			<th th:text="#{organizer}"></th>
			<th th:text="#{subject}"></th>
			<th th:text="#{start}"></th>
			<th th:text="#{end}"></th>
		</tr>
		<th>
		<tr>
			<td th:text="${event.organisateur}"></td>
			<td th:text="${event.sujet}"></td>
			<td th:text="${event.dateDebut}"></td>
			<td th:text="${event.dateFin}"></td>
		</tr>
		</th>
	</table>
</body>
</html>