<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport"
	content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0" />

<meta name="description" content="The Dap trainning project admin" />

<link rel="stylesheet" type="text/css" th:href="@{/css/dap.css}" />

<!-- TODO bog by Djer |Thymleaf| mettre "microsoft" dans la balise ne change pas la valeur internationnalisée de "admin.title", change ta clef de traduction (et traduit pour chaque langue) -->
<title th:text="#{admin.title}">Microsoft</title>

</head>
<body>

	<p th:text="#{globalMailsUnread}">
		<p th:text="${globalMailsUnread}"></p>
	</p>
</body>
</html>