<!-- ID :	ce02f9b5-f22c-4e49-8a3a-a17717446689 -->
<!-- MDP :	eyxcIHLE142!xufADX30~][ -->

<!DOCTYPE html>
<html th:fragment="header">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title th:text="#{title}">myTitle</title>

  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">

  <script src="//ajax.aspnetcdn.com/ajax/jQuery/jquery-2.2.3.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="container">

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed"
            data-toggle="collapse" data-target="#navbar" aria-expanded="false"
            aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span><!-- TODO dea by Djer |Thymleaf| Internationnalisation --> <span
              class="icon-bar"></span> <span class="icon-bar"></span> <span
              class="icon-bar"></span>
          </button>
          <a class="/javaOutlookTutorial">Java Outlook Tutorial</a><!-- TODO dea by Djer |Thymleaf| Internationnalisation -->
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="${current == 'index' ? 'active' : '' }">
              <a href="/index">Home</a><!-- TODO dea by Djer |Thymleaf| Internationnalisation -->
            </li>
              <li th:if="${userConnected == true}" class="${current == 'mail' ? 'active' : '' }">
                <a href="/mail">Mail</a><!-- TODO dea by Djer |Thymleaf| Internationnalisation -->
              </li>
          </ul>
          <div th:if="${userConnected == true}" >
            <p class="navbar-text navbar-right">Signed in as ${userName}</p><!-- TODO dea by Djer |Thymleaf| Internationnalisation -->
            <ul class="nav navbar-nav navbar-right">
              <li>
                <a href="/logout">Logout</a><!-- TODO dea by Djer |Thymleaf| Internationnalisation -->
              </li>
            </ul>
            </div>
        </div>
      </div>
    </nav>
  </div>
</body>
</html>

