
<div th:if="${error != null}" class="alert alert-danger">
	<span th:text="#{dap.error}"></span> <span th:text="${error}"></span>
</div>

<header th:include="base :: header"></header>

<table class="table">
	<caption th:text="#{inbox}"></caption>
	<thead>
		<tr>
			<th><span class="glyphicon glyphicon-envelope"></span></th>
			<th th:text="#{from}"></th>
			<th th:text="#{subject}"></th>
			<th th:text="#{received}"></th>
			<th th:text="#{preview}"></th>
		</tr>
	</thead>
	<tbody>
		<th:block th:each="message : ${messages}">
			<tr class="${message.isRead == true ? '' : 'info'}">

				<td><span th:if="${message.isRead == false}"
					class="glyphicon glyphicon-envelope"></span></td>

				<td th:text="${message.from.emailAddress.name}" /></td>
				<td th:text="${message.subject}" /></td>
				<td th:text="${message.receivedDateTime}" /></td>
				<td th:text="${message.bodyPreview}" /></td>
			</tr>
		</th:block>
	</tbody>
</table>