<html xmlns:th="http://www.thymeleaf.org">

<c:if test="${error ne null}">
  <div class="alert alert-danger">Error: ${error}</div>
</c:if>

<table class="table">
  <caption>Inbox</caption> <!-- TODO for by Djer |Thymleaf| Internationalisation -->
  <thead>
    <tr>
      <th><span class="glyphicon glyphicon-envelope"></span></th>
      <th>From</th> <!-- TODO for by Djer |Thymleaf| Internationalisation -->
      <th>Subject</th> <!-- TODO for by Djer |Thymleaf| Internationalisation -->
      <th>Received</th> <!-- TODO for by Djer |Thymleaf| Internationalisation -->
      <th>Preview</th> <!-- TODO for by Djer |Thymleaf| Internationalisation -->
    </tr>
  </thead>
  <tbody>
    <c:forEach items="${messages}" var="message">
      <tr class="${message.isRead == true ? '' : 'info'}">
        <td>
          <c:if test="${message.isRead == false}">
            <span class="glyphicon glyphicon-envelope"></span>
          </c:if>
        </td>
        <td><c:out value="${message.from.emailAddress.name}" /></td>
        <td><c:out value="${message.subject}" /></td>
        <td><c:out value="${message.receivedDateTime}" /></td>
        <td><c:out value="${message.bodyPreview}" /></td>
      </tr>
    </c:forEach>
  </tbody>
</table>