<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport"
	content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0" />

<meta name="description" content="The Dap trainning project admin" />

<meta property="og:type" content="website" />
<meta property="og:site_name" content="Data Access Project" />

<link rel="stylesheet" type="text/css" th:href="@{/css/dap.css}" />

<title th:text="#{admin.title}">Data Access Project</title>

</head>
<body>
	<table>
		<tr>
			<th>Key</th>
			<th>Token</th>
		</tr>
		<tr th:each="instance : ${credentialsMap}">
			<td th:text="${instance.key}">keyvalue</td>
			<td class="token" th:text="${instance.value}">num</td>
		</tr>
	</table>	
	</br>
	<a th:href="@{'/'}" th:text="#{accueil}"></a>
</body>
</html>
