<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport"
	content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0" />

<meta name="description" content="The Dap trainning project admin" />

<meta property="og:type" content="website" />
<meta property="og:site_name" content="Data Access Project" />
<!-- TODO bof by Djer |Thymleaf| Un uatre "head" dans le "head", je ne suis pas sure que se soit déja dans les spec du web 3.0.... -->
<head>
<!-- TODO bof by Djer |Thymleaf| le http-equiv="Content-Type" précisie "UTF-8". Configure ton IDE et reste standard, produit tes fichiers en UTF-8 ! -->
<meta charset="ISO-8859-1">
<title></title>
</head>
<Body>
	<h1 th:text="#{error.occurs}"></h1>
	<!-- TODO bof by Djer |Thymleaf| Même si de nombreux naviguateur le tolère (soidisant par retro-compatibilité) ceci n'est PAS valide comme l'indique ton IDE <br/> est valide -->
	</br>
	<p th:text="${errorMessage}"></p>
	</br>
	<a th:href="@{'/'}" th:text="#{accueil}"></a>
</Body>
</html>