<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="utf-8">
<title>Admin</title>
<link rel="stylesheet" type="text/css"
	href="../static/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}" />
	<!-- TODO bes by Djer |Thymleaf| Attention ce fichier CSS n'existe pas -->
<link rel="stylesheet" type="text/css" href="../static/css/myStyle.css"
	th:href="@{/css/myStyle.css}" />
</head>
<body>
	<header>
		<div class="navbar navbar-default">
			<div class="container-fluid">
				<ul class="nav navbar-nav">
					<li><a th:href="@{/}" th:text="FR.YNOV.DAP"></a></li>
					<li><a th:href="@{/ajoutercompte}"> Ajouter un compte </a></li>
					<li><a th:href="@{/nbMailNonLu}" th:text="Nombremailnonlu"></a></li>
					<li><a th:href="@{/}" th:text="FR.YNOV.DAP"></a></li>
					<li><a th:href="@{/admin}" th:text="Admin"></a></li>
				</ul>

				<ul class="nav navbar-nav navbar-right" th:if="${AppUser}">
					<li><a th:href="@{/}" th:text="${AppUser.userKey}"></a></li>
					<li><a th:href="@{/login?logout}">logout</a></li>
				</ul>


			</div>
		</div>
	</header>
	<section>
		<table class="table table-striped">

			<thead>
				<tr>
					<th>lien</th>
					<th>Type</th>
					<th>Account Name</th>
					<th>accessToken</th>
					<th>refreshToken</th>
					<th>tenant ID</th>

				</tr>
			</thead>
			<tbody>

				<tr th:each="data:${Account}">
					<td>
					<div class="container-fluid" th:if="${data.class.simpleName=='MicrosoftAccount'}">
									<ul class="nav nav-pills">
										<li><a
								th:href="@{/list/msg/(${data.accountName})}"
								th:text="Aperçu"></a></li>
									</ul>
								</div>
			    	</td>
					<td th:text="${data.class.simpleName}" /></td>
					<td th:text="${data.accountName}" /></td>
					<td th:text="${data.accessToken}" /></td>
					<td th:text="${data.refreshToken}" /></td>
					<td th:if="${data.class.simpleName=='MicrosoftAccount'}"
						th:text="${data.TenantId}" /></td>

				</tr>

			</tbody>
		</table>
	</section>
	<footer>
		<div class="navbar-fixed-bottom">
			<small>sabeur.ben.mechlia@gmail.com</small>
		</div>
	</footer>
</body>
</html>