<h1 th:text="#{admin.next_event.title}">Title</h1>
<br />
<div class="card" style="width: 18rem;" th:if="${event}">
  	<div class="card-body">
    	<h5 class="card-title" th:text="${{event.getSubject()}}">Event Subject</h5>
    	<h6 class="card-subtitle mb-2 text-muted" th:text="${#dates.format(event.getStartDate(), 'dd/MM/yyyy HH:mm')}">Starting Event Date</h6>
    	<h6 class="card-subtitle mb-2 text-muted" th:text="${#dates.format(event.getEndDate(), 'dd/MM/yyyy HH:mm')}">Ending Event Date</h6>
    </div>
  	<ul class="list-group list-group-flush">
    	<li class="list-group-item"
   			th:each="attendee : ${event.getAttendees()}">
   			<span th:text="${{attendee.mail}}"></span>
   			<span class="badge badge-primary" th:if="${{attendee.status}} == 'TENTATIVE'" th:text="#{admin.next_event.status.tentative}">Tentative</span>
	  		<span class="badge badge-danger" th:if="${{attendee.status}} == 'DECLINED'" th:text="#{admin.next_event.status.declined}">Declined</span>
	  		<span class="badge badge-success" th:if="${{attendee.status}} == 'ACCEPTED'" th:text="#{admin.next_event.status.accepted}">Accepted</span>
	  		<span class="badge badge-info" th:if="${{attendee.status}} == 'NEED_ACTION'" th:text="#{admin.next_event.status.need_action}">Need Action</span>
	  		<span class="badge badge-warning" th:if="${{attendee.status}} == 'OWNER'" th:text="#{admin.next_event.status.owner}">Owner</span>
	  		<span class="badge badge-dark" th:if="${{attendee.status}} == 'UNKNOWN'" th:text="#{admin.next_event.status.unknown}">Unknow</span>
		</li>
  	</ul>
</div>
<div class="alert alert-warning" role="alert" th:if="${event == null}" th:text="#{admin.next_event.error.no_next_event}"></div>
<br />
<span class="badge badge-secondary" th:text="#{admin.navigation.info}">Info</span>