<nav th:fragment="nav" class="navbar navbar-expand-lg navbar-light bg-light">
	<a class="navbar-brand" href="#">Administration</a>
	<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
   		<li class="nav-item">
        	<a class="nav-link" href="/admin/users">Credentials</a>
      	</li>
      	<li class="nav-item">
        	<a class="nav-link" href="/admin/nextEvent/kev">Calendar</a>
      	</li>
      	<li class="nav-item">
        	<a class="nav-link" href="/admin/contacts/kev">Contacts</a>
      	</li>
      	<li class="nav-item">
        	<a class="nav-link" href="/admin/mails/kev">Mails</a>
      	</li>
   	</ul>
  </div>
</nav>