<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
  xmlns:th="http://www.thymeleaf.org">
   <head th:replace="fragments/header :: header"></head>
  <table class="table">
	<thead>
		<tr>
			<th th:text="#{event.organizer}"></th>
			<th th:text="#{event.subject}"></th>
			<th th:text="#{event.start}"></th>
			<th th:text="#{event.end}"></th>
		</tr>
	</thead>
	<tbody>
			<tr th:each="event : ${events}">
				<td th:text="${event.organizer.emailAddress.name}" /></td>
				<td th:text="${event.subject}" /></td>
				<td th:text="${event.start.dateTime}" /></td>
				<td th:text="${event.end.dateTime}" /></td>
			</tr>
	</tbody>
</table>
</html>