<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport"
	content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0" />

<meta name="description" content="The Dap trainning project admin" />

<meta property="og:type" content="website" />
<meta property="og:site_name" content="Data Access Project" />

</head>
<body>
<!-- TODO bot by Djer |Thymleaf| internationalisation ?  -->
	<h1>Data</h1>

	<div class="table">
		<h3>Inbox</h3>
		<table>
			<tr>
				<th><span class="glyphicon glyphicon-envelope"></span></th>
				<th>Name</th>
				<th>Access-Token</th>
				<th>Refresh-Token</th>
				<th>Expiration (ms)</th>
			</tr>
		</table>
		<table>
			<tr th:each="data : ${dataStore}">
				<td><span th:text="${data.key}"></span></td>
				<!-- TODO bot by Djer |API Microsoft| Tenant ID pour Microsoft ?  -->
				<td><span th:text="${data.accessToken}"></span></td>
				<td><span th:text="${data.refreshToken}"></span></td>
				<td><span th:text="${data.expirationTimeMilliseconds}"></span></td>
			</tr>
		</table>
	</div>
</body>
</html>