<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
    <title>My mails</title>
    <script src="//ajax.aspnetcdn.com/ajax/jQuery/jquery-2.2.3.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>

<table class="table">
    <caption>My Events</caption>
    <thead>
    <tr>
        <th>Name</th>
        <th>Company</th>
        <th>Email</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="contact : ${contacts}">
        <td th:text="${contact.givenName} ${contact.surname}"></td>
        <td th:text="${contact.companyName}"></td>
        <td>
            <ul class="list-inline" th:each="address : ${contact.emailAddresses}">
                <li th:text="${address.address}"/></li>
            </ul>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>