<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create a new user</title>
</head>
<body>
<table>
    <tr>
        <th>Id</th>
        <th>User Name</th>
    </tr>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}">1</td>
        <td th:text="${user.name}">Jean Menard</td>
    </tr>
</table>

<hr>

<table>
    <tr>
        <th>Id</th>
        <th>User Name</th>
    </tr>
    <tr th:each="account : ${accounts}">
        <td th:text="${account.id}">1</td>
        <td th:text="${account.accountName}">Jean Menard</td>
    </tr>
</table>

</body>
</html>